
@using TXTextControl.Web
@using TXTextControl.Web.MVC
@using System.Text
@using MaramTX.Controllers

@Html.TXTextControl().TextControl(settings => {
	settings.WebSocketURL="wss://backend.textcontrol.com?access-token=h4CVCxoW9UANqceWL4qk";
}).Render()


@Html.TXTextControl().TextControl(settings =>
{
    
    settings.Dock = DockStyle.Fill;
}).LoadText("C:/Users/user/source/repos/MaramTX/MaramTX/wwwroot/maramtest.txt",
    StreamType.PlainText).Render()

<button onclick="ExportPDF()" class="btn mt-3 btn-success">Export PDF</button>
<script>
    function ExportPDF() {

        // save document
        TXTextControl.saveDocument(TXTextControl.StreamType.AdobePDF, function (e) {
            // create temporary link element
            var element = document.createElement('a');
            element.setAttribute('href', 'data:application/octet-stream;base64,' + e.data);
            element.setAttribute('download', "test.pdf");

            element.style.display = 'none';
            document.body.appendChild(element);

            // simulate click
            element.click();

            // remove the link
            document.body.removeChild(element);
        });
    }
</script>